body {
  background-color: #020B1A;
  background: linear-gradient(30deg, #17172d, #dbb18e, #9BA5AE, #3E5879, #020B1A);
  background-size: 400% 400%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16pt;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  animation: sunset 60s ease infinite;
}

@keyframes sunset {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 60%;
  }

  100% {
    background-position: 0% 40%;
  }
}

a {
  color: #3E5879;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: #AD4A28;
  transition: 300ms;
}

.hero {
  background-color: #ddd;
  box-shadow: 0 0 5em #eee;
  min-height: 30em;
  margin: 1.6% 0;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2em;
  row-gap: 1em;
  flex-wrap: wrap;
  opacity: 0.9;
}

.hero-image {
  flex-grow: 0;
  text-align: center;
  flex-grow: 0.5;
  flex-shrink: 1;
}

.hero-image img {
  border-radius: 5pt;
  box-shadow: 0 1ex 1em #9BA5AE;
  max-width: 100%;
  max-height: 50vh;
  min-width: 15em;
}

.hero-name {
  color: gray;
  padding: 1em;
  flex-grow: 1.5;
  flex-shrink: 0.5;
  min-width: 20em;
}

.hero-skills {
  color: #9BA5AE;
  padding: 1em;
  flex-grow: 1;
  flex-shrink: 0.5;
  min-width: 15em;
}

.hero-links {
  flex-grow: 0.5;
  flex-shrink: 0.5;
  padding: 1em;
}

.hero-links ul {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

.hero-links ul li {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  column-gap: 1em;
  place-items: center;
  list-style: none;
  flex-grow: 1;
  width: 100%;
  text-align: left;
}

h1 {
  color: black;
  font-size: 3vw;
  line-height: 1.2;
  margin: 0;
  padding: 1% 0;
}

h2 {
  opacity: 0.7;
  font-size: 2vw;
  line-height: 1.2;
  margin: 0;
  padding: 1% 0;
}

h2 em {
  color: black;
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 1em 0 1ex;
}